/*------------Generalt------------*/
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container {
  max-width: 800px;
  margin: auto;
}

.main_container_inside {
  max-width: 800px;
  margin: 0 10px 0 10px;
}

.spacing1 {
  height: 25px;
}

.spacing2 {
  height: 50px;
}

.spacing3 {
  height: 100px;
}












/*------------Navigation------------*/

.nav_bg {
  background-color: rgba(222, 222, 222, 0.5);
  width: 100%;
  height: 4rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
}


header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  max-width: 800px;
  z-index: 2;
}

header nav a {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: trasandina, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333;
  text-transform: uppercase;
  padding: 1rem 0 1rem 0;
  margin: 0 0 0 0;
  letter-spacing: 1px;
}

nav img {
  height: 3rem;
  margin-top: -.5rem;
}

/* unvisited link */
header nav a:link {
  color: #e8e5d2;
  font-size: 1.5em;
}

/* visited link */
/*header nav a:visited {
    color: #ff019d;
}*/

/* mouse over link */
header nav a:hover {
  color: #1dff00;
}

/* selected link */
header nav a:active {
  color: #ff019d;
}



/*------------Footer------------*/

footer {
  background-color: #f1f1f1;
  height: 550px;
  width: 100vw;
  left: 0;
  position: absolute;
}

.footer_inside {
  padding: 30px 0 0 0vw;
  max-width: 800px;
  margin: auto;
}






/*------------Text styles------------*/
h1 {
  font-size: 3rem;
  font-family: mencken-std-narrow, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #333;
  text-transform: uppercase;
  border-top: 1px solid #333;
  padding: 13px 0 10px 0;
  margin: 40px 0 0 0;
  letter-spacing: 2px;
}

h2 {
  font-size: 2rem;
  font-family: mencken-std-narrow, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #333;
  text-transform: uppercase;
  border-top: 1px solid #333;
  padding: 12px 0 10px 0;
  margin: 40px 0 0 0;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.2rem;
  font-family: trasandina, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333;
  text-transform: uppercase;
  padding: 0 0 0 0;
  margin: 3px 0 0 0;
  letter-spacing: 1px;
}

p,
li {
  font-size: 1rem;
  font-family: trasandina, sans-serif;
  font-weight: 300;
  font-style: italic;
  list-style: none;
  color: #333;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  letter-spacing: .5px;
}





















/*------------Generalt Slut------------*/


/*----------Splash--------------*/
.splash_img {
  height: 55vw;
  width: 100vw;
  background-image: url(assets/billeder/spille_vinkel3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  position: absolute;
  top: -30px;
}

#splash {
  height: 45vw;
}

.splash_header {
  color: #fff;
  max-width: 800px;
  margin: 40vw auto 0 auto;
  border-top: 1px solid #fff;
  font-size: 5rem;
}



/*----------Kategorier--------------*/
.kat_div {
  flex-grow: 1;
  margin: 10px;
}

.kategori {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.kat_img1 {
  background-image: url(assets/billeder/spille_vinkel2.jpg);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.kat_img2 {
  background-image: url(assets/billeder/guitar_rep.jpg);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.kat_img3 {
  background-image: url(assets/billeder/guitar_remme.jpg);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.kat_img4 {
  background-image: url(assets/billeder/spejl_i_rude.jpg);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#produkt_kategorier {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
}

.col {
  flex-basis: 380px;
  flex-grow: 1;
  display: flex;
}

.corner_overlay {
  width: 50px;
  height: 25px;
  background-color: #fff;
  transform: translate(18px, 10px) rotate(135deg);
}




/*----------Reperation--------------*/
.reperation_img {
  height: 33.45vw;
  width: 100vw;
  background-image: url(assets/billeder/reperation.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
  position: absolute;
}

#rep {
  margin: 0 0 33.45vw 0;
}

.rep_header {
  color: #fff;
  max-width: 800px;
  margin: 100px auto 0 auto;
  border-top: 1px solid #fff;
  font-weight: 100;
  font-style: italic;
  font-size: 2.5rem;
  letter-spacing: 4.6px;
}

/*----------Om os--------------*/
.col_om {
  width: 50vw;
  background-color: antiquewhite;
  flex-basis: 300px;
}

#om_os {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/*---------Kontakt---------*/
.col_kontakt {
  width: 50vw;
  background-color: antiquewhite;
  flex-basis: 300px;
}

#kontakt {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#video {
  background-color: aquamarine;
}

/*---------Forside------*/
#splash {
  background-color: aqu;
}

#rep {
  background-color: aqua;
}

/*********shop*********/
#shop {
  background-color: antiquewhite
}

.col_produkt {
  margin: 2px;
  width: 16vw;
  background-color: blueviolet;
}

#produkter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/******kurv*******/
.col_kurv {
  width: 100vw;
  background-color: antiquewhite;
}

#kurv {
  flex-wrap: wrap;
}
