/*------------Generalt------------*/
body {
    margin: 0;
}


nav {
    justify-content: center;
    background-color: #383232;

}

#footer {
    background-color: #fffbf5;
}

a {
    color: #fdf4e1;
    font-size: 1.5em;
}

h1 {
    font-size: 1.5em
}

h2 {
    font-size: 1em;
}

































/*------------Generalt Slut------------*/

/*------------------------*/
